<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/partials/head', { title }) %>
    <%- include('/partials/styles', { styles }) %>
    <%- include('/partials/metadata', { metadata }) %>
  </head>

  <body>
    <!-- div containers added to fill 3x3 grid -->

    <!-- row #1 -->
    <div></div>
    <div></div>
    <div></div>

    <!-- row #2  -->
    <div></div>
    <%- include('/partials/logo-svg/horizontal') %>
    <%- include('/partials/logo-svg/square') %>
    <%- include('/partials/logo-svg/vertical') %>
    <div></div>

    <!-- row #3 -->
    <div></div>
    <div></div>
    <div></div>

    <nav class="uppercase">
      <% navigation.forEach((link, index) => { %>

      <!-- separator -->
      <% if (index > 0) { %>&nbsp;*
      <% } %>

      <!-- link -->
      <a class="gib-link" href="<%= link.href %>"><%= link.text %></a>

      <% }) %>
    </nav>

    <%- include('/partials/scripts', { scripts }) %>
  </body>
</html>
