<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/partials/head', { title }) %>
    <%- include('/partials/styles', { styles }) %>
    <%- include('/partials/metadata', { metadata }) %>
  </head>

  <body>
    <%- include('/partials/pageH1') %>

    <main>
      <p>
        Oops! Sorry, but the page you have requested contains complete
        <!-- navigation links -->
        <% navigation.forEach((link) => { %>
        <span class="gib-fill"></span>
        <a class="gib-link" href="<%= link.href %>"><%= link.text %></a>
        <% }) %>
        <span class="gib-fill"></span>.
      </p>
    </main>

    <%- include('/partials/scripts', { scripts }) %>
  </body>
</html>
